@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inconsolata:wght@300&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inconsolata:wght@300&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inconsolata:wght@300&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inconsolata:wght@300&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inconsolata:wght@300&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inconsolata:wght@300&family=PT+Sans+Narrow&display=swap");
footer nav a, header .cursos .link-cursos, header .proyectos .link-proyectos, header .sobre-mi .link-about-me, header .home .link-index {
  text-decoration: none;
  text-underline-offset: none;
  color: #f5f5f5;
  font-size: 100%;
}

header {
  width: 100%;
  height: 2em;
  background-image: linear-gradient(#b473b0, #bfa1ef);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Delicious Handrawn", cursive;
  font-size: 150%;
}
header nav {
  width: 100%;
  border: #522b90;
  color: #f5f5f5;
  display: flex;
  justify-content: space-around;
}
header .home .link-index:hover {
  text-decoration: underline wavy white;
}
header .sobre-mi .link-about-me:hover {
  text-decoration: underline wavy white;
}
header .proyectos .link-proyectos:hover {
  text-decoration: underline wavy white;
}
header .cursos .link-cursos:hover {
  text-decoration: underline wavy white;
}

main {
  background-color: #251a38;
}
main .presentacion h1 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #ffffff;
}
main .presentacion h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: "Delicious Handrawn", cursive;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #d4baff;
}
main .presentacion h3 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-family: "PT Sans Narrow", sans-serif;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #ffffff;
}
main .presentacion .foto {
  display: flex;
  justify-content: center;
}
main .presentacion .foto img {
  border: 2px outset #000000;
  border-radius: 300px;
  height: 400px;
  width: 300px;
}
main .descripcion-container {
  display: flex;
  justify-content: center;
}
main .descripcion-container .descripcion p {
  margin: 2% 30%;
  color: #ffffff;
  font-family: "Inconsolata", monospace;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #251a38;
}
footer nav {
  display: flex;
  justify-content: center;
  width: 30%;
  background-image: linear-gradient(#b473b0, #bfa1ef);
  border: 2px outset #000000;
  border-radius: 300px;
  padding: 10px;
}
footer nav a {
  margin: 0;
  font-size: 15px;
}
footer nav a:hover {
  text-decoration: underline wavy white;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #251a38;
}
footer nav {
  display: flex;
  justify-content: center;
  width: 30%;
  background-image: linear-gradient(#b473b0, #bfa1ef);
  border: 2px outset #000000;
  border-radius: 300px;
  padding: 10px;
}
footer nav a {
  margin: 0;
  font-size: 15px;
}
footer nav a:hover {
  text-decoration: underline wavy white;
}

main {
  background-color: #251a38;
}
main .sobremi-container h1 {
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
  padding-top: 5%;
  font-size: 400%;
  text-align: center;
}
main .sobremi-container p {
  font-family: "Inconsolata", monospace;
  color: white;
  font-size: 100%;
  text-align: center;
  margin: 2% 5%;
}
main .carousel-container {
  background-color: #251a38;
  width: 30%;
  padding: 2%;
}
main .carousel-container .my-hobbies {
  text-align: center;
  font-size: 300%;
  font-family: "Inconsolata", monospace;
  color: white;
  display: flex;
  justify-content: center;
}
main .carousel-container h5 {
  font-family: "Delicious Handrawn", cursive;
  color: white;
  text-align: center;
}

.proyectos-container {
  flex-wrap: wrap;
}
.proyectos-container .creations {
  text-align: center;
  margin: 2%;
  font-size: 300%;
  font-family: "Inconsolata", monospace;
  color: white;
  padding-top: 5%;
}
.proyectos-container .proyectos {
  display: flex;
  justify-content: space-around;
  padding: 10%;
  transition: all 3s;
  flex-wrap: wrap;
}
.proyectos-container .proyectos .proyecto-d a {
  width: 30%;
}
.proyectos-container .proyectos .proyecto-lum a {
  width: 30%;
}
.proyectos-container .proyectos .proyecto-d:hover {
  transform: scale(2);
}
.proyectos-container .proyectos .proyecto-lum:hover {
  transform: scale(2);
}

.hey {
  font-family: "Delicious Handrawn", cursive;
  padding-top: 5%;
  font-size: 300%;
  text-align: center;
  color: white;
}

.form {
  background-color: #251a38;
}
.form .form-1 {
  margin: 2% 10%;
}
.form .form-2 {
  margin: 2% 10%;
}
.form .form-3 {
  margin: 2% 10%;
}
.form .form-3 .form-descripcion {
  height: 100px;
}

.form-propuesta {
  font-family: "Inconsolata", monospace;
  text-align: center;
  margin: 2% 20%;
  color: white;
}

.form-letra {
  color: white;
  font-family: "Inconsolata", monospace;
}

.or {
  color: white;
  font-family: "Inconsolata", monospace;
  text-align: center;
  padding: 2%;
  color: #d4baff;
}

.flex-container {
  display: flex;
  justify-content: center;
  padding: 2%;
}
.flex-container .datos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}
.flex-container .datos h2 {
  font-family: "Inconsolata", monospace;
  font-size: 120%;
  color: white;
}
.flex-container .datos img {
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .flex-container .datos img {
    width: 50%;
    align-items: end;
  }
}
@media screen and (width <= 361px) {
  .flex-container .datos {
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.adios h3 {
  font-family: "Delicious Handrawn", cursive;
  font-size: 200%;
  text-align: center;
  color: white;
  margin: 2%;
}

main .cursos-container {
  display: none;
}
main .grid-container-cursos {
  padding: 5%;
  display: grid;
  grid-template-rows: 400px auto auto;
  grid-template-columns: repeat(3, 1fr);
}
main .grid-container-cursos .grid-item img {
  width: 100%;
  height: 100%;
}
main .grid-container-cursos .grid-item h1 {
  color: white;
  text-align: center;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 5%;
}
main .grid-container-cursos .grid-item p {
  color: white;
  text-align: center;
  font-family: "Inconsolata", monospace;
  margin: 5%;
}
@media screen and (max-width: 768px) {
  main .grid-container-cursos {
    display: none;
  }
  main .cursos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .cursos-container .upe .upe-img {
    display: flex;
    justify-content: center;
  }
  main .cursos-container .upe .upe-img img {
    margin-top: 5%;
    width: 50%;
    height: 50%;
  }
  main .cursos-container .upe h1 {
    color: white;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    margin: 5%;
  }
  main .cursos-container .upe p {
    color: white;
    text-align: center;
    font-family: "Inconsolata", monospace;
    margin: 5%;
  }
  main .cursos-container .auto .auto-img {
    display: flex;
    justify-content: center;
  }
  main .cursos-container .auto .auto-img img {
    width: 100%;
    height: 100%;
  }
  main .cursos-container .auto h1 {
    color: white;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    margin: 5%;
  }
  main .cursos-container .auto p {
    color: white;
    text-align: center;
    font-family: "Inconsolata", monospace;
    margin: 5%;
  }
  main .cursos-container .trans .trans-img {
    display: flex;
    justify-content: center;
  }
  main .cursos-container .trans .trans-img img {
    width: 50%;
    height: 50%;
  }
  main .cursos-container .trans h1 {
    color: white;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    margin: 5%;
  }
  main .cursos-container .trans p {
    color: white;
    text-align: center;
    font-family: "Inconsolata", monospace;
    margin: 5%;
  }
}

.form {
  background-color: #251a38;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #251a38;
}

/*# sourceMappingURL=style.css.map */
