@import "../base/fonts";
@import "../base/colores";

main{
    background-color: $bg-general;
    .presentacion{
        h1{
            display: flex;
            justify-content: center;
            font-size:45px;
            font-family: $font-general;
            color: #ffffff;
        }
        h2{
            display: flex;
            justify-content: center;
            font-size:40px;
            font-family: $font-subtitulo;
            margin-top: 20px;
            margin-bottom: 5px;
            color: #d4baff;
        }
        h3{
            display: flex;
            justify-content: center;
            font-size:25px;
            font-family: $font-general;
            margin-top: 5px;
            margin-bottom: 10px;
            color: #ffffff;
        }
        .foto{
            display: flex;
            justify-content: center;
            img{
                border: 2px outset #000000;
                border-radius:300px;
                height: 400px;
                width: 300px;
            }
        }
    }

    .descripcion-container{
        display: flex;
        justify-content: center;
        .descripcion{
            p{
            margin: 2% 30%;
            color: #ffffff;
            font-family: $font-p;
            font-size:20px;
            }
        }
    }
}

