@import "../base/colores";
@import "../base/fonts";

.proyectos-container{
    flex-wrap: wrap;

    .creations{
        text-align: center;
        margin: 2%;
        font-size: 300%;
        font-family: $font-p;
        color: white;
        padding-top: 5%;
    }
    .proyectos{
        display: flex;
        justify-content: space-around;
        padding: 10%;
        transition: all 3s;
        flex-wrap: wrap;

        .proyecto-d{
            a{width: 30%;}                   
        }
        .proyecto-lum{
            a{width: 30%;}
        }
        .proyecto-d:hover{
            transform: scale(2);
        }
        .proyecto-lum:hover{
            transform: scale(2);
        }
    }

}