@import "../base/colores";
@import "../base/fonts";
@import "contact-boton";

main{
    background-color: $bg-general;
    .sobremi-container{
        h1{
            font-family: $font-general;
            color: white;
            padding-top: 5%;
            font-size: 400%;
            text-align: center;
        }

        p{
            font-family: $font-p;
            color: white;
            font-size: 100%;
            text-align: center;
            margin: 2% 5%;
        }
    }
    .carousel-container{
        background-color: $bg-general;
        width: 30%;
        padding: 2%;
        
        .my-hobbies{
            text-align: center;
            font-size: 300%;
            font-family: $font-p;
            color: white;
            display:flex;
            justify-content: center;

        }
        
        h5{
            font-family: $font-subtitulo;
            color: white;
            text-align: center;
        }

    }
}
   



