@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inconsolata:wght@300&family=PT+Sans+Narrow&display=swap');


$font-general: 'PT Sans Narrow', sans-serif;
$font-subtitulo: 'Delicious Handrawn', cursive;
$font-p: 'Inconsolata', monospace;